<mat-nav-list>
  <li *ngIf="!isAuth" class="navigation-items">
  <a mat-list-item routerLink="/signup" (click)="onClose()">
  <mat-icon>face</mat-icon>
  <span class="nav-caption">Signup</span>
  </a>
  </li>
  <li *ngIf="!isAuth" class="navigation-items">
  <a mat-list-item routerLink="/login" (click)="onClose()">
  <mat-icon>input</mat-icon>
  <span class="nav-caption">Login</span>
  </a>
  </li>
  <li *ngIf="isAuth" class="navigation-items">
  <a mat-list-item routerLink="/profile" (click)="onClose()">
  <mat-icon>perm_identity</mat-icon>
  <span class="nav-caption">Profile</span>
  </a>
  </li>
  <li *ngIf="isAuth" class="navigation-items">
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
  </li>
</mat-nav-list>
