<!-- The container has
  display: flex
  width: 100% => whole screen is used for container
  height: 700px; => height of element is 700px
  border: 1px solid black; => border around element
  flex-direction: row; => elements aligned horizontally
   OR SWITCH TO:
  flex-direction: column; => elements aligned vertically
  justify-content: center; => elements centered in available space
-->
<section id="container">
  <!-- The child elements of the flex container should have
   their width be equally distributed along the main axis
  -->
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>
